{##  ______ _                 _               _ ___
 #  |  ____| |               | |             | |__ \
 #  | |__  | |_   ___      __| |__   ___  ___| |  ) |
 #  |  __| | | | | \ \ /\ / /| '_ \ / _ \/ _ \ | / /
 #  | |    | | |_| |\ V  V / | | | |  __/  __/ |/ /_
 #  |_|    |_|\__, | \_/\_/  |_| |_|\___|\___|_|____|
 #             __/ |
 #            |___/
 #
 # Flywheel2: the inertia php framework
 #
 # @category	Flywheel2
 # @package		error
 # @author		wakaba <wakabadou@gmail.com>
 # @copyright	2011- Wakabadou honpo (http://www.wakabadou.net/) / Project ICKX (http://www.ickx.jp/)
 # @license		http://opensource.org/licenses/MIT The MIT License MIT
 # @varsion		2.0.0
 #
 #}
{% extends layout_path %}

{% block content %}
{% if error_message is null %}
	<h1>File not found</h1>
{% else %}
	<h1>{{ error_message }}</h1>
{% endif %}
{% endblock %}
